<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    <p>Witaj, właśnie wywołałeś metode z biblioteki Damian'a </p>
    <p th:text="'Strona którą wybrałeś to: ' + ${nazwa}" />
     <form action="download" method="get">
		Pobierz tą stronę w formacie:
		<button name="format" type="submit" value="txt">TXT</button>
		<button name="format" type="submit" value="zip">ZIP</button>
	</form>
    <p>------------------------------------------</p>
    <p th:text="'Kod strony: ' + ${strona}" />
    
</body>
</html>