<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Czas serwera ' + ${serverTime}"/>
    
    <form action="damian" method="get">
		Metody Damiana:
		<button name="subject" type="submit" value="uruchom">Uruchom</button>
	</form>
	
    <form action="maciej" method="get">
		Metody Macieja:
		<button name="subject" type="submit" value="uruchom">Uruchom</button>
	</form>
    
</body>
</html>