<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
   
    <form action="answer" method="get">
		Metody Damiana:
		<p>Nazwa strony do pobrania:</p>
		<input id="website" name="website" type="text" required="true" value="" />
		<button name="person" type="submit" value="damian">Uruchom</button>

		Metody Macieja:
		<button name="person" type="submit" value="maciej">Uruchom</button>
	</form>
    
</body>
</html>