<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Tutaj wyświetlony zostanie szyfrowanie pliku </p>
    <form action="download" method="get">
		Pobierz tą stronę w formacie:
		<button name="format" type="submit" value="dec">DECRYPTED</button>
		<button name="format" type="submit" value="enc">ENDCRYPTED</button>
	</form>
    <p>------------------------------------------</p>
    <p th:text="'Decrypted:, ' + ${dec}" />
    
	<p>------------------------------------------</p>
	<p th:text="'Encrypted:, ' + ${enc}" />
</body>
</html>